@use "../abstracts/variables" as v;

.calendar-controls {
  display: flex;
  justify-content: center;
  margin: v.$space-16 0;
}

.calendar-controls__group {
  margin: v.$space-8;
}

.calendar-controls__toggle {
  cursor: pointer;
  opacity: 0;
}

.calendar-controls__toggle::after {
  content: "visibility_off";
}

.calendar-controls:hover .calendar-controls__toggle {
  opacity: 1;
}

.calendar-controls--collapsed > .calendar-controls__group {
  display: none;
}

.calendar-controls--collapsed .calendar-controls__toggle::after {
  content: "tune";
}

.calendar-controls__month-option--leap-only:disabled {
  color: v.$color-text-muted;
}

.calendar-controls__calculator-group {
  white-space: nowrap;
}
