@use "../../../../shared/src/scss/theme";

$color-accent: #f44336;
$color-surface: var(--color-surface);
$color-text-primary: var(--color-text);
$color-text-muted: var(--color-muted);
$color-white: #fafafa;

$font-header: var(--font-header);
$font-body: var(--font-body);

$space-2: 2px;
$space-8: 8px;
$space-16: 16px;

$radius-sm: 6px;
$border-default: 1px solid $color-text-primary;
$border-focus: 2px solid $color-accent;
