@use "../../../shared/src/scss/theme";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-text);
  font-family: var(--font-body);
  background-color: var(--color-surface);
}

h1,
h2,
h3 {
  font-family: var(--font-header);
}

.toolkit {
  max-width: 48rem;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.toolkit > p,
.toolkit__tool p,
.toolkit__tool .material-icons {
  color: var(--color-muted);
}

.toolkit__tool {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  border: 0.0625rem solid var(--color-text);
  border-radius: 0.375rem;
}

.toolkit__tool:hover,
.toolkit__tool:focus-visible {
  background-color: var(--color-highlight);
  outline: none;
}

.toolkit__tool h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.toolkit__tool p {
  margin: 0;
}

.toolkit__tool .material-icons {
  font-size: 2rem;
}
