:root {
  --color-surface: #fff3e0;
  --color-text: #212121;
  --color-muted: #777;
  --color-highlight: rgb(33 33 33 / 8%);
  --color-error: #a00;
  --color-link: linktext;
  --font-header: medievalsharp, serif;
  --font-body: almendra, cursive;
  --space-half: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --font-size-icon-sm: 0.75em;
  --font-size-icon-md: 1rem;
  --font-size-icon-lg: 1.25rem;
  --font-size-icon-xl: 2rem;
  --focus-width: 0.125rem;
}
