:root {
  --color-surface: #fff3e0;
  --color-text: #212121;
  --color-muted: #777;
  --color-highlight: rgb(33 33 33 / 8%);
  --font-header: medievalsharp, serif;
  --font-body: almendra, cursive;
}
