@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-red-500: #f44336;
  --color-orange-50: #fff3e0;
  --color-gray-900: #212121;
  --color-gray-50: #fafafa;

  --font-header: "MedievalSharp", serif;
  --font-body: "Almendra", cursive;
}

body {
  font-family: var(--font-body);
  color: var(--color-gray-900);
  background-color: var(--color-orange-50);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: var(--font-header);
}

h1 {
  width: 100%;
  text-align: center;
}

h2 {
  margin: 16px 0;
}

.sub-header {
  margin: -16px 0 8px 0;
  font-style: italic;
}

.moon-symbol {
  height: 6px;
  width: 6px;
  border: 1px solid var(--color-gray-900);
  border-radius: 50%;
  display: none;
  margin: 2px;
}

.full-moon .moon-symbol {
  display: inline-block;
}

.new-moon .moon-symbol {
  display: inline-block;
  background-color: var(--color-gray-900);
}

.half-waxing .moon-symbol {
  display: inline-block;
  background: linear-gradient(
    90deg,
    var(--color-gray-900) 50%,
    rgba(0, 0, 0, 0) 50%
  );
}

.half-waning .moon-symbol {
  display: inline-block;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 50%,
    var(--color-gray-900) 50%
  );
}

.current-day {
  border: 2px solid var(--color-red-500);
  border-radius: 6px;
}

.equinox::after {
  content: "⊖︎";
}

.months-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 16px;
}

.months-container > div {
  flex-basis: 1;
  margin: 0 16px;
}

#inputContainer {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
#inputContainer > div {
  margin: 8px;
}

#inputContainer .hide-input {
  opacity: 0;
}

#inputContainer .hide-input::after {
  content: "visibility_off";
}

#inputContainer:hover .hide-input {
  opacity: 1;
}

#inputContainer.hidden > div {
  display: none;
}

#inputContainer.hidden .hide-input::after {
  content: "tune";
}

.leap-only:disabled {
  color: #777;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}
